<hr/>
<footer>
 <p><a href="httt://www.licklk.com/" target="_blank">LCY</a>2016</p>
</footer>
</div>
</body>
<script src="javascripts/jquery.js"></script>
<script src="javascripts/bootstrap.js"></script>
</html>